## Pandas DataFrame: Create from lists of values

In [ ]:
import pandas as pd

last_names = ['Hanbin', 'Gunwook', 'Yujin']
first_names = ['Park', 'Park', 'Han']
df = pd.DataFrame({
  'first_name': first_names,
  'last_name': last_names,
})

url = "https://github.com/luminati-io/Instagram-dataset-samples/raw/main/Instagram%20Profiles%20-%20Github%20Hashtag.xlsx"
database = pd.read_excel(url)
'''pd.read_csv('data.csv')'''
print(database.columns)
print(database.describe())
print(database.head())
print(database.tail())

In [ ]:
import numpy as np
x = [i for i in range(0,5)]
y = np.tan(x)

print(x,y)

In [ ]:
dataframe = pd.DataFrame({
    'x': x,
    'y': y
                             })
dataframe['z'] = np.cos(x)

dataframe

## Pandas DataFrame: Rename multiple Columns

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Year': [2023, 2022, 2021, 2020, 2019],
    'Top Group': ['Zerobaseone', 'Kep1er', 'Xdinary Heroes', 'Treasure', 'Tomorrow X Together']
})

df.rename(columns={
    'Year': 'Calendar Year',
    'Top Group': 'Favorite Group',
}, inplace=True)

print(df)

## Pandas DataFrame: Query by regexp (regular expression)

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Jiwoong', 'Hao', 'Hanbin', 'Taerae'],
  'last_name': ['Kim', 'Zhang', 'Sung', 'Kim'],
})

df[df.last_name.str.match('.*onno.*')]

## Pandas DataFrame: Query by variable value

Evaluate a variable as the value to find.

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Soobin', 'Beomgyu', 'Taehyun'],
  'last_name': ['Choi', 'Choi', 'Kang'],
})

foo = 'Choi'
df.query('last_name == @foo')

## Pandas DataFrame: Query using variable value as a column name

Evaluate a variable, to use its value as the name of a column in a query.

E.g. Query for rows where `John` is the value in the column named `first_name`.

In [ ]:
import pandas as pd
df = pd.DataFrame(data={
  'first_name': ['Soobin', 'Beomgyu', 'Taehyun'],
  'last_name': ['Choi', 'Choi', 'Kang'],
})

column_name = 'first_name'
df.query(f"`{column_name}` == 'John'")

## Pandas DataFrame: Query by Timestamp above a value

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'time': [pd.Timestamp('2023-09-14 00:52:00-07:00'),
             pd.Timestamp('2023-09-14 00:52:30-07:00'),
             pd.Timestamp('2023-09-14 01:52:30-07:00')],
    'letter': ['A', 'B', 'C'],
})

df.query('time >= "2023-09-14 00:52:30-07:00"')

## Pandas DataFrame: Query for Timestamp between two values

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2023-09-14 00:52:00-07:00', '2023-09-14 00:52:30-07:00',
           '2023-09-14 01:52:30-07:00'],
  'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)

begin_ts = '2023-09-14 00:52:00-07:00'
end_ts = '2023-09-14 00:54:00-07:00'

df.query('@begin_ts <= time < @end_ts')

## Pandas DataFrame: Filter by Timestamp in DatetimeIndex using `.loc[]`

In [ ]:
import pandas as pd

df = pd.DataFrame({
  'time': ['2023-09-14 00:52:00-07:00', '2023-09-14 00:52:30-07:00',
           '2023-09-14 01:52:30-07:00'],
  'letter': ['X', 'Y', 'Z'],
})
df['time'] = pd.to_datetime(df.time)
df.set_index('time', inplace=True)

df.loc['2023-09-14':'2023-09-14 00:53']

## Pandas DataFrame: Filter by Timestamp using TimeDelta string

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'time': ['2023-09-14 00:52:00-07:00', '2023-09-14 00:52:30-07:00',
             '2023-09-14 01:52:30-07:00'],
    'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)

def rows_in_time_range(df, time_column, start_ts_str, timedelta_str):
    # Return rows from df, where start_ts < time_column <= start_ts + delta.
    # start_ts_str can be a date '2023-09-01' or a time '2023-09-14 00:52:00-07:00'
    # timedelta_str examples: '2 minutes'  '2 days 2 hours 15 minutes 30 seconds'
    start_ts = pd.Timestamp(start_ts_str).tz_localize('US/Pacific')
    end_ts = start_ts + pd.to_timedelta(timedelta_str)
    return df.query("@start_ts <= {0} < @end_ts".format(time_column))

rows_in_time_range(df, 'time', '2023-09-14 00:00', '52 minutes 31 seconds')

## Pandas: Describe Timestamp values in a column

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'time': ['2023-09-14 00:52:00-07:00', '2023-09-14 00:52:30-07:00',
             '2023-09-14 01:52:30-07:00'],
    'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)

df['time'].describe(datetime_is_numeric=True)

## Pandas DataFrame: Explode a column containing dictionary values into multiple columns

This code transforms or splits the dictionary column into many columns.

E.g. The output DataFrame of this cell will have columns named [`date, letter, fruit, weather`].

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'date': ['2023-01-27', '2023-11-06', '2017-07-18'],
    'letter': ['X', 'Y', 'Z'],
    'kpop_info': [
        {'group': 'Tomorrow X Together', 'song': 'Tinnitus', 'album': 'Temptation'},
        {'group': 'Zerobaseone', 'song': 'Take My Hand', 'album': 'Melting Point'},
        {'group': 'EXO', 'song': 'Ko Ko Bop', 'album': 'The War'}
    ],
})
result = pd.concat([df.drop(['kpop_info'], axis=1), df['kpop_info'].apply(pd.Series)], axis=1)
result

import pandas as pd

df = pd.DataFrame({
    'date': ['2023-01-27', '2023-11-06', '2017-07-18'],
    'letter': ['X', 'Y', 'Z'],
    'kpop_info': [
        {'group': 'Tomorrow X Together', 'song': 'Tinnitus', 'album': 'Temptation'},
        {'group': 'Zerobaseone', 'song': 'Take My Hand', 'album': 'Melting Point'},
        {'group': 'EXO', 'song': 'Ko Ko Bop', 'album': 'The War'}
    ],
})
result = pd.concat([df.drop(['kpop_info'], axis=1), df['kpop_info'].apply(pd.Series)], axis=1)
result

## Pandas DataFrame: Extract values using regexp (regular expression)

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'request': ['GET /home.html?param=123', 'GET /profile.html?user=john'],
})

# Melakukan ekstraksi pada bagian URL yang diinginkan
extracted_data = df['request'].str.extract('GET /([^?]+)\?', expand=True)
extracted_data.columns = ['extracted_data']
extracted_data

## Pandas Timestamp: Convert string to Timestamp, using date only

I.e. Midnight on the given date.

In [ ]:
import pandas as pd

pd.Timestamp('9/23/23').tz_localize('US/Pacific')

## Pandas Timestamp: Convert string to Timestamp

In [ ]:
import pandas as pd

pd.Timestamp('9/23/23 06:59').tz_localize('US/Pacific')

## Pandas: Create a TimeDelta using `unit`

From an integer.
`unit` is a string, defaulting to `ns`. Possible values:

In [ ]:
import pandas as pd

pd.to_timedelta(2, unit='h')

## Pandas: Create a TimeDelta using available kwargs

Example keyworded args: {days, seconds, microseconds, milliseconds, minutes, hours, weeks}

In [ ]:
import pandas as pd

pd.Timedelta(days=1)

## Pandas: Create a TimeDelta from a string

In [ ]:
import pandas as pd

pd.Timedelta('3 days 23 hours 15 minutes 30 seconds')

## Pandas: Replace NaN values in a Column

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame({
  'cats': [5, 7, np.nan, 7],
})

df['cats'].replace(np.nan, 0, regex=True)

## Pandas DataFrame: Drop duplicate rows

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Yeonjun', 'Soobin', 'Taehyun', 'Kai'],
  'last_name': ['Choi', 'Choi', 'Kang', 'Huening'],
})
df.set_index('last_name', inplace=True)

df.loc[~df.index.duplicated(), :]

## Pandas DataFrame: Ignore one Column

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Yeonjun', 'Soobin', 'Taehyun', 'Kai'],
  'last_name': ['Choi', 'Choi', 'Kang', 'Huening'],
})

df.loc[:, df.columns!='last_name']

## Pandas DataFrame: Intersect Indexes

In [ ]:
import pandas as pd
terminator_df = pd.DataFrame({
  'first_name': ['Jiwoong', 'Gyuvin', 'Yujin'],
  'last_name': ['Kim', 'Kim', 'Han'],
})
terminator_df.set_index('first_name', inplace=True)

buckaroo_df = pd.DataFrame({
  'first_name': ['Hanbin', 'Hanbin', 'Keita'],
  'last_name': ['Park', 'Sung', 'Terazono'],
})
buckaroo_df.set_index('first_name', inplace=True)

terminator_df.index.intersection(buckaroo_df.index).shape

## Pandas DataFrame: Select all rows from A that are not in B, using the index

In [ ]:
import pandas as pd
terminator_df = pd.DataFrame({
 'first_name': ['Jiwoong', 'Gyuvin', 'Yujin'],
  'last_name': ['Kim', 'Kim', 'Han'],
})
terminator_df.set_index('first_name', inplace=True)

buckaroo_df = pd.DataFrame({
  'first_name': ['John', 'John', 'Buckaroo'],
  'last_name': ['Parker', 'Whorfin', 'Banzai'],
})
buckaroo_df.set_index('first_name', inplace=True)

terminator_df[~terminator_df.index.isin(buckaroo_df.index)]

In [ ]:
import pandas as pd
terminator_df = pd.DataFrame({
  'first_name': ['Jiwoong', 'Gyuvin', 'Yujin'],
  'last_name': ['Kim', 'Kim', 'Han'],
})
terminator_df.set_index('first_name', inplace=True)

buckaroo_df = pd.DataFrame({
  'first_name': ['Hanbin', 'Hanbin', 'Keita'],
  'last_name': ['Park', 'Sung', 'Terazono'],
})
buckaroo_df.set_index('first_name', inplace=True)

terminator_df.index.intersection(buckaroo_df.index).shape

## Pandas DataFrame: Select rows by an attribute of a column value

Use the Series `map()` method.
E.g. To filter by the length of a column values:

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Jiwoong', 'Gyuvin', 'Yujin'],
  'last_name': ['Kim', 'Kim', 'Han'],
})

df[df['last_name'].map(len) == 5]

## Pandas DataFrame: Sort the count of rows grouped on columns

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Jiwoong', 'Gyuvin', 'Yujin'],
  'last_name': ['Kim', 'Kim', 'Han'],
})

df.groupby(['last_name']).size().sort_values(ascending=False)

## Pandas DataFrame: Reshape to have 1 row per value in a list column

Creates a new DataFrame that is a transformed version of the input. E.g.
*   Input: df with a column named `msg_ids` that is a list of values (i.e. many per row, at least in some rows).
*   Output: new_df which has 1 row per unique value found in any of the original `msg_ids` lists, with that value in a new column named `msg_id`.

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'date': ['9/1/23', '9/2/23', '9/3/23'],
  'action': ['Add', 'Update', 'Delete'],
  'msg_ids': [[1, 2, 3], [], [2, 3]],
})
df.set_index('date', inplace=True)


temp_series = df['msg_ids'].apply(pd.Series, 1).stack()
temp_series.index = temp_series.index.droplevel(-1)
temp_series.name = 'msg_id'
new_df = temp_series.to_frame()
new_df.set_index('msg_id', inplace=True)
new_df.loc[~new_df.index.duplicated(), :] # Drop duplicates.

## Pandas: DataFrames: Group Timeseries by Frequency

You can group timestamped data into intervals of arbitrary duration using a Grouper object to specify groupby instructions.  The `freq` parameter is a string that may contain an integer followed by an [offset alias](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases).  E.g. To see output for 2 minute long intervals:

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2023-09-01 00:00:01-07:00', '2023-09-01 00:00:02-07:00',
           '2023-09-01 00:01:00-07:00', '2023-09-01 00:02:00-07:00',
           '2023-09-01 00:03:00-07:00', '2023-09-01 00:04:00-07:00',
           '2023-09-01 00:05:00-07:00', '2023-09-01 00:07:00-07:00'],
  'requests': [1, 1, 1, 1, 1, 1, 1, 1],
})
df['time'] = pd.to_datetime(df.time)

df.groupby(pd.Grouper(key='time', freq='2min')).sum()